* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
  	margin: 0;
  	padding: 0;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 95%;
	margin:0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

#header{
	height: 100px;
	width: 0 auto;
}
#header section.wrapper{
	display: flex;
	align-items: center;
}
#header section.wrapper div.left{
	display: flex;
	margin-top: 35px;
}
#header section.wrapper div.left ul{
	display: flex;
	align-items: center;
}
#header section.wrapper div.left ul li a{
	margin-right: 25px;
	color: #807d7e;
}
#header section.wrapper div.left ul li h1{
	margin-right: 50px;
}
#header section.wrapper div.left ul li h1 img{
	
}
#header section.wrapper div.left ul li.one {
	margin-left: 50px;
}
#header section.wrapper div.left ul li.one a{
	font-weight: bolder;
	color: black;
}
#header section.wrapper div.left ul li.search{
	margin-left: 70px;
}
#header section.wrapper div.left ul li.search button{
	border-radius: 5px;
	height:35px;
	width: 200px;
	background-color:#f6f6f6;
}
#header section.wrapper div.left ul li.search button img{
	margin-right:10px;
}
#header section.wrapper div.left ul li.search button input[type="search"]{
	
}
#header section.wrapper div.right{
	margin-top: 35px;
	margin-left: 100px;
}
#header section.wrapper div.right ul{
	display: flex;
}
#header section.wrapper div.right ul li{
	margin-right: 25px;
}
#header section.wrapper div.right ul li a{

}
#header section.wrapper div.right ul li a button{
	height: 35px;
	width: 35px;
	background-color: #f6f6f6;
	border-radius:5px;
}
#header section.wrapper div.right ul li a button img{
	margin-top: 5px;
}
#header section.wrapper div.right ul li.one button img{

}
#header section.wrapper div.right ul li.two button img{

}
#header section.wrapper div.right ul li.three button img{

}
#main{
}
#main section.name div.fat {
	background-image: url(assets/bg-1.jpg);
	width:100%;
	height: 95vh;
	display: flex;
	align-items: center;
	padding-left: 150px;
	background-position:30% top;
	background-size: 100%;
	background-repeat: no-repeat;
}
#main section.name  div.fat div.hero-content{
	
}
#main section.name  div.fat div.hero-content h3.on{
	margin-top:;
	font-size: 30px;
	font-weight: 500;
	color: white;
}
#main section.name  div.fat div.hero-content h1{
	margin-top: 50px;
	font-size: 70px;
	font-weight: 900;
	color: white;
}
#main section.name  div.fat div.hero-content h3.tw{
	margin-top: 20px;
	font-size: 30px;
	font-weight: 500;
	color: white;
}
#main section.name  div.fat div.hero-content img.ar1{
	margin-left: -100px;
	margin-top: -100px;
	margin-right: 1300px;
}
#main section.name  div.fat div.hero-content button{
	margin-top: 50px;
	width:190px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
}
#main section.name  div.fat div.hero-content button a{
	font-size: 20px;
	font-weight: 500px;
}
#cards1{
	height: 80vh;
}
#cards1 section.main{
	display: flex;
}
#cards1 section.main div.one{
	background-image: url(assets/bg-2.jpg);
	margin-left: 80px;
	margin-top: 100px;
	height: 357px;
	width: 600px;
	background-size:1000px;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
}
#cards1 section.main div.one section.wrapper {
	margin-left: ;
}
#cards1 section.main div.one section.wrapper h2.a{
	margin-top: 50px;
	font-weight: 600;
	color: white;

}
#cards1 section.main div.one section.wrapper h1.b{
	margin-top: 30px;
	font-weight: 900;
	color: white;

}
#cards1 section.main div.one section.wrapper h2.c{
	margin-top: 20px;
	font-weight: 500;
	color: white;

}
#cards1 section.main div.one section.wrapper h2.d {
	margin-top: 50px;
	color: white;

}
#cards1 section.main div.one section.wrapper h2.d u{
	font-weight: 500;
}
#cards1 section.main div.two{
	background-image: url(assets/bg-3.jpg);
	margin-left: 100px;
	margin-top: 100px;
	height: 357px;
	width: 600px;
	background-size:900px;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
	transform: rotateY(180deg);
	background-position:  -300px top;
}
#cards1 section.main div.two h2{
	transform: rotateY(180deg);
}
#cards1 section.main div.two  h2.a{
	margin-top: 50px;
	font-weight: 600;
	margin-left: 160px;
	color: white;
}
#cards1 section.main div.two  h1.b{
	margin-top: 30px;
	font-weight: 900;
	margin-left: 160px;
	color: white;
	transform: rotateY(180deg);
}
#cards1 section.main div.two  h2.c{
	margin-top: 20px;
	font-weight: 500;
	margin-left: 160px;
	color: white;
}
#cards1 section.main div.two  h2.d {
	margin-top: 50px;
	margin-left: 160px;
	color: white;
}
#cards1 section.main div.two  h2.d u{
	font-weight: 500;
}
#arrival{
	margin-bottom: 50px;
}
#arrival section.wrapper{
	
}
#arrival section.wrapper div.main{
	display: flex;
	margin-bottom: 80px;
}
#arrival section.wrapper div.main div.one{
	width: 6px;
	height:30px;
	border-radius:10px;
	background-color:#8A33FD;
	margin-right: 20px;
}
#arrival section.wrapper div.main div.two h2{
	font-weight: 600;
}
#arrival section.wrapper div.middle{
	display: flex;
	justify-content: space-evenly;
}
#arrival section.wrapper div.middle a{
	margin-top: 140px;
}
#arrival section.wrapper div.middle img.one{
	margin-right: 50px;
}
#arrival section.wrapper div.middle div.pic1{
	margin-right: 25px;
}
#arrival section.wrapper div.middle div.pic1 img{
	
}
#arrival section.wrapper div.middle div.pic1 h3{
	
}
#arrival section.wrapper div.middle div.pic2{
	margin-right: 25px;
}
#arrival section.wrapper div.middle div.pic2 img{
	
}
#arrival section.wrapper div.middle div.pic2 h3{
	
}
#arrival section.wrapper div.middle div.pic3{
	margin-right: 25px;
}
#arrival section.wrapper div.middle div.pic3 img{
	
}
#arrival section.wrapper div.middle div.pic3 h3{
	
}
#arrival section.wrapper div.middle div.pic4{
	margin-right: 25px;
}
#arrival section.wrapper div.middle div.pic4 img{
	
}
#arrival section.wrapper div.middle div.pic4 h3{
	
}
#arrival section.wrapper div.middle h3{
	margin-top: 30px;
	font-weight: bolder;
	font-size: 15px;
	color: #3C4242;
}
#spotlight1{
	margin-top: 200px;
	margin-bottom: 100px;
}
#spotlight1 section.wrapper{
	position: relative;
}
#spotlight1 section.wrapper div.main{
	display: flex;
	position: relative;
}
#spotlight1 section.wrapper div.main div.one{
	height:640;
	width:614;
}
#spotlight1 section.wrapper div.main div.one img{
	transform: rotateY(180deg);

}
#spotlight1 section.wrapper div.main div.two{
	height:640;
	width:626;
}
#spotlight1 section.wrapper div.main div.two img{
	
}
#spotlight1 section.wrapper div.three{
	position: absolute;
	z-index: 2;
	margin-top: -460px;
	margin-left: 100px;
}
#spotlight1 section.wrapper div.three h2{
	font-size: 30px;
	color: white;
	font-weight: 900;
}
#spotlight1 section.wrapper div.three h4{
	margin-top: 30px;
	color: white;
	font-weight: 200;
}
#spotlight1 section.wrapper div.three button{
	margin-top: 50px;
	width:130px;
	height: 40px;
	background-color: white;
	border-radius: 5px;
}
#spotlight1 section.wrapper div.three button a{
	color:#3C4242;
	font-weight: 600;
}
#men{

}
#men section.wrapper{
	
}
#men section.wrapper div.one{
	display: flex;
	margin-bottom: 100px;
}
#men section.wrapper div.one div.rect{
	width: 6px;
	height:30px;
	border-radius:10px;
	background-color:#8A33FD;
	margin-right: 20px;
}
#men section.wrapper div.one div.text{
	
}
#men section.wrapper div.one div.text h1{
	font-weight: 700;
}
#men section.wrapper div.main{
	display: flex;
	flex-wrap: wrap;

}
#men section.wrapper div.main div.box1{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box1 img.img{
	
}
#men section.wrapper div.main div.box1 h4{
	
}
#men section.wrapper div.main div.box1 a{
	
}
#men section.wrapper div.main div.box1 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box2{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box2 img.img{
	
}
#men section.wrapper div.main div.box2 h4{
	
}
#men section.wrapper div.main div.box2 a{
	
}
#men section.wrapper div.main div.box2 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box3{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box3 img.img{
	
}
#men section.wrapper div.main div.box3 h4{
	
}
#men section.wrapper div.main div.box3 a{
	
}
#men section.wrapper div.main div.box3 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box4{
	margin-top: 30px;
}
#men section.wrapper div.main div.box4 img.img{
	
}
#men section.wrapper div.main div.box4 h4{
	
}
#men section.wrapper div.main div.box4 a{
	
}
#men section.wrapper div.main div.box4 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box5{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box5 img.img{
	
}
#men section.wrapper div.main div.box5 h4{
	
}
#men section.wrapper div.main div.box5 a{
	
}
#men section.wrapper div.main div.box5 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box6{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box6 img.img{
	
}
#men section.wrapper div.main div.box6 h4{
	
}
#men section.wrapper div.main div.box6 a{
	
}
#men section.wrapper div.main div.box6 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box7{
	margin-right: 30px;
	margin-top: 30px;
}
#men section.wrapper div.main div.box7 img.img{
	height: 393px;
	width:273px;
}
#men section.wrapper div.main div.box7 h4{
	
}
#men section.wrapper div.main div.box7 a{
	
}
#men section.wrapper div.main div.box7 a img.ar1{
	margin-left: 240px;
}
#men section.wrapper div.main div.box8{
	margin-top: 30px;
}
#men section.wrapper div.main div.box8 img.img{
	
}
#men section.wrapper div.main div.box8 h4{
	
}
#men section.wrapper div.main div.box8 a{
	
}
#men section.wrapper div.main div.box8 a img.ar1{
	margin-left: 240px;
}
#Women{
	margin-top: 100px;
}
#Women section.wrapper{
	
}
#Women section.wrapper div.one{
	display: flex;
	margin-bottom: 100px;
}
#Women section.wrapper div.one div.rect{
	width: 6px;
	height:30px;
	border-radius:10px;
	background-color:#8A33FD;
	margin-right: 20px;
}
#Women section.wrapper div.one div.text{
	
}
#Women section.wrapper div.one div.text h1{
	font-weight: 700;
}
#Women section.wrapper div.main{
	display: flex;
	flex-wrap: wrap;

}
#Women section.wrapper div.main div.box1{
	margin-right: 30px;
	margin-top: 30px;
}
#Women section.wrapper div.main div.box1 img.img{
	
}
#Women section.wrapper div.main div.box1 h4{
	
}
#Women section.wrapper div.main div.box1 a{
	
}
#Women section.wrapper div.main div.box1 a img.ar1{
	margin-left: 240px;
}
#Women section.wrapper div.main div.box2{
	margin-right: 30px;
	margin-top: 30px;
}
#Women section.wrapper div.main div.box2 img.img{
	
}
#Women section.wrapper div.main div.box2 h4{
	
}
#Women section.wrapper div.main div.box2 a{
	
}
#Women section.wrapper div.main div.box2 a img.ar1{
	margin-left: 240px;
}
#Women section.wrapper div.main div.box3{
	margin-right: 30px;
	margin-top: 30px;
}
#Women section.wrapper div.main div.box3 img.img{
	
}
#Women section.wrapper div.main div.box3 h4{
	
}
#Women section.wrapper div.main div.box3 a{
	
}
#Women section.wrapper div.main div.box3 a img.ar1{
	margin-left: 240px;
}
#Women section.wrapper div.main div.box4{
	margin-top: 30px;
}
#Women section.wrapper div.main div.box4 img.img{
	
}
#Women section.wrapper div.main div.box4 h4{
	
}
#Women section.wrapper div.main div.box4 a{
	
}
#Women section.wrapper div.main div.box4 a img.ar1{
	margin-left: 240px;
}
#deal{
	margin-top: 100px;
	margin-bottom: 100px;
}
#deal section.wrapper{
	
}
#deal section.wrapper div.main{
	height: 357px;
	width:1233px;
	background-color: #3C4242;
	border-radius: 10px;
}
#deal section.wrapper div.main div.one{
	
}
#deal section.wrapper div.main div.one h1{
	text-align: center;
	padding-top: 50px;
	color: white;
	font-weight: 700;
	font-size: 50px;
}
#deal section.wrapper div.main div.one h3{
	text-align: center;
	padding-top: 20px;
	color: white;
}
#deal section.wrapper div.main div.one h3 span.highlight{
	color:#fbd103;
	font-weight: 700;
}
#deal section.wrapper div.main div.two{
	display: flex;
	margin-top: 50px;
}
#deal section.wrapper div.main div.two div img{
	width: 177px;
	height: 86px;
	border-radius: 10px ;
	margin-right: 50px;
}
#deal section.wrapper div.main div.two div.rect1{

}
#deal section.wrapper div.main div.two div.rect1 img{
	margin-left: 80px;
}
#deal section.wrapper div.main div.two div.rect2 {
	
}
#deal section.wrapper div.main div.two div.rect2 img{
	transform: rotateY(180deg);
}
#deal section.wrapper div.main div.two div.rect3 {
	
}
#deal section.wrapper div.main div.two div.rect3 img{
	
}
#deal section.wrapper div.main div.two div.rect4 {
	
}
#deal section.wrapper div.main div.two div.rect4 img{
	
}
#deal section.wrapper div.main div.two div.rect5{
	
}
#deal section.wrapper div.main div.two div.rect5 img{
	
}
#card{
	margin-bottom: 100px;
}
#card section.wrapper{
	
}
#card section.wrapper div.one{
	display: flex;
	margin-bottom: 100px;
}
#card section.wrapper div.one div.rect{
	width: 6px;
	height:30px;
	border-radius:10px;
	background-color:#8A33FD;
	margin-right: 20px;
}
#card section.wrapper div.one div.text{
	
}
#card section.wrapper div.one div.text h1{
	font-weight: 700;
}
#card section.wrapper div.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#card section.wrapper div.main div{
	
}
#card section.wrapper div.main div.card1{
	position: relative;
	margin-right: 20px;
}
#card section.wrapper div.main div.card1 img.on{
	position: relative;
}
#card section.wrapper div.main div.card1 div.logo{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: white;
	margin-left: 230px;
	margin-top:-340px;
	position: absolute;
	z-index: 2;
	display: flex;
    justify-content: center;
    align-items: center; 
}
#card section.wrapper div.main div.card1 div.logo img{
	position: absolute;
	z-index: 3;
}
#card section.wrapper div.main div.card1 div.lar{
	display: flex;
}
#card section.wrapper div.main div.card1 div.lar div.text{
	
}
#card section.wrapper div.main div.card1 div.lar div.text h4.one{
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	color: #3C4242;
}
#card section.wrapper div.main div.card1 div.lar div.text h5.two{
	color: #807D7E;
	font-weight: 500;
	font-size: 14px;
}
#card section.wrapper div.main div.card1 div.lar div.btn button{
	width: 82px;
	height: 36px;
	background-color: #F6F6F6;
	border-radius: 5px;
	align-items: center;
	margin-top: 22px;
	margin-left: 10px;
}
#card section.wrapper div.main div.card1 div.lar div.btn button a{
	font-weight: 700;
	color: #3C4242;
}

#card section.wrapper div.main div.card2{
	position: relative;
	margin-right: 23px;
}
#card section.wrapper div.main div.card2 img.on{
	position: relative;
}
#card section.wrapper div.main div.card2 div.logo{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: white;
	margin-left: 230px;
	margin-top:-340px;
	position: absolute;
	z-index: 2;
	display: flex;
    justify-content: center;
    align-items: center; 
}
#card section.wrapper div.main div.card2 div.logo img{
	position: absolute;
	z-index: 3;
}
#card section.wrapper div.main div.card2 div.lar{
	display: flex;
}
#card section.wrapper div.main div.card2 div.lar div.text{
	
}
#card section.wrapper div.main div.card2 div.lar div.text h4.one{
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	color: #3C4242;
}
#card section.wrapper div.main div.card2 div.lar div.text h5.two{
	color: #807D7E;
	font-weight: 500;
	font-size: 14px;
}
#card section.wrapper div.main div.card2 div.lar div.btn button{
	width: 82px;
	height: 36px;
	background-color: #F6F6F6;
	border-radius: 5px;
	align-items: center;
	margin-top: 22px;
	margin-left: 10px;
}
#card section.wrapper div.main div.card2 div.lar div.btn button a{
	font-weight: 700;
	color: #3C4242;
}
#card section.wrapper div.main div.card3{
	position: relative;
	margin-right: 25px;
}
#card section.wrapper div.main div.card3 img.on{
	position: relative;
}
#card section.wrapper div.main div.card3 div.logo{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: white;
	margin-left: 230px;
	margin-top:-340px;
	position: absolute;
	z-index: 2;
	display: flex;
    justify-content: center;
    align-items: center; 
}
#card section.wrapper div.main div.card3 div.logo img{
	position: absolute;
	z-index: 3;
}
#card section.wrapper div.main div.card3 div.lar{
	display: flex;
}
#card section.wrapper div.main div.card3 div.lar div.text{
	
}
#card section.wrapper div.main div.card3 div.lar div.text h4.one{
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	color: #3C4242;
}
#card section.wrapper div.main div.card3 div.lar div.text h5.two{
	color: #807D7E;
	font-weight: 500;
	font-size: 14px;
}
#card section.wrapper div.main div.card3 div.lar div.btn button{
	width: 82px;
	height: 36px;
	background-color: #F6F6F6;
	border-radius: 5px;
	align-items: center;
	margin-top: 22px;
	margin-left: 100px;
}
#card section.wrapper div.main div.card3 div.lar div.btn button a{
	font-weight: 700;
	color: #3C4242;
}
#card section.wrapper div.main div.card4{
	position: relative;
}
#card section.wrapper div.main div.card4 img.on{
	position: relative;
}
#card section.wrapper div.main div.card4 div.logo{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: white;
	margin-left: 230px;
	margin-top:-340px;
	position: absolute;
	z-index: 2;
	display: flex;
    justify-content: center;
    align-items: center; 
}
#card section.wrapper div.main div.card4 div.logo img{
	position: absolute;
	z-index: 3;
}
#card section.wrapper div.main div.card4 div.lar{
	display: flex;
}
#card section.wrapper div.main div.card4 div.lar div.text{
	
}
#card section.wrapper div.main div.card4 div.lar div.text h4.one{
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	color: #3C4242;
}
#card section.wrapper div.main div.card4 div.lar div.text h5.two{
	color: #807D7E;
	font-weight: 500;
	font-size: 14px;
}
#card section.wrapper div.main div.card4 div.lar div.btn button{
	width: 82px;
	height: 36px;
	background-color: #F6F6F6;
	border-radius: 5px;
	align-items: center;
	margin-top: 22px;
	margin-left: 10px;
}
#card section.wrapper div.main div.card4 div.lar div.btn button a{
	font-weight: 700;
	color: #3C4242;
}
#feed{
	margin-top: 30px;
	margin-bottom: 100px;
}
#feed section.wrapper{
	
}
#feed section.wrapper div.one{
	display: flex;
	margin-bottom: 100px;
}
#feed section.wrapper div.one div.rect{
	width: 6px;
	height:30px;
	border-radius:10px;
	background-color:#8A33FD;
	margin-right: 20px;
}
#feed section.wrapper div.one div.text{
	
}
#feed section.wrapper div.one div.text h1{
	font-weight: 700;
}
#feed section.wrapper div.main{
	display: flex;
}
#feed section.wrapper div.main div.box1{
	width: 397px;
	height: 340px;
	border: 2px solid;
	border-color: #807D7E;
	border-radius: 10px;
	margin-right: 20px;
}
#feed section.wrapper div.main div.box1 div.content{
	margin-left: 30px;
	margin-top: -10px;
}
#feed section.wrapper div.main div.box1 div.content img.pic{
	margin-top: 35px;
}
#feed section.wrapper div.main div.box1 div.content h2{ 
	margin-top: 30px;
	color: #3C4242;
	font-weight: bolder;
}
#feed section.wrapper div.main div.box1 div.content p{
	font-size: 14px;
	margin-top: 30px;
	color: #807D7E;
}
#feed section.wrapper div.main div.box1 div.star{
	margin-top: -290px;
	margin-left: 230px;
}
#feed section.wrapper div.main div.box1 div.star img{
	
}
#feed section.wrapper div.main div.box2{
	width: 397px;
	height: 340px;;
	border: 2px solid;
	border-color: #807D7E;
	border-radius: 10px;
	margin-right: 20px;
}
#feed section.wrapper div.main div.box2 div.content{
	margin-left: 30px;
	margin-top: -10px;
}
#feed section.wrapper div.main div.box2 div.content img.pic{
	margin-top: 35px;
}
#feed section.wrapper div.main div.box2 div.content h2{ 
	margin-top: 30px;
	color: #3C4242;
	font-weight: bolder;
}
#feed section.wrapper div.main div.box2 div.content p{
	font-size: 14px;
	margin-top: 30px;
	color: #807D7E;
}
#feed section.wrapper div.main div.box2 div.star{
	margin-top: -200px;
	margin-left: 230px;
}
#feed section.wrapper div.main div.box2 div.star img{
	
}
#feed section.wrapper div.main div.box3	{
	width: 397px;
	height: 340px;
	border: 2px solid;
	border-color: #807D7E;
	border-radius: 10px;
	margin-right: 15px;
}
#feed section.wrapper div.main div.box3	 div.content{
	margin-left: 30px;
	margin-top: -10px;
}
#feed section.wrapper div.main div.box3	 div.content img.pic{
	margin-top: 35px;
}
#feed section.wrapper div.main div.box3	 div.content h2{ 
	margin-top: 30px;
	color: #3C4242;
	font-weight: bolder;
}
#feed section.wrapper div.main div.box3	 div.content p{
	font-size: 14px;
	margin-top: 30px;
	color: #807D7E;
}
#feed section.wrapper div.main div.box3	 div.star{
	margin-top: -290px;
	margin-left: 230px;
}
#feed section.wrapper div.main div.box3	 div.star img{
	
}
#footer{
	background-color: #3C4242;
}
#footer section.wrapper{
	
}
#footer section.wrapper div.main1{
	display: flex;
	justify-content: space-evenly;
	padding-top: 100px;
}
#footer section.wrapper div.main1 h4{
	margin-bottom: 30px;
}
#footer section.wrapper div.main1 h4 a{
	color: white;
} 
#footer section.wrapper div.main1 h5 a{
	color: white;
}
#footer section.wrapper div.main1 h5 {
	margin-bottom: 30px;
}
#footer section.wrapper div.main1 div.one{
	
}
#footer section.wrapper div.main1 div.one h4.u{
	margin-bottom: 40px;
}
#footer section.wrapper div.main1 div.one h4.u a{
	font-weight: 900;
	font-size: 20px;

}
#footer section.wrapper div.main1 div.one h5.c a{

}
#footer section.wrapper div.main1 div.two{
	margin-bottom: 40px;
}
#footer section.wrapper div.main1 div.two h4.u a{
	font-weight: 900;
	font-size: 20px;
}
#footer section.wrapper div.main1 div.two h5.c a{

}
#footer section.wrapper div.main1 div.three{
	margin-bottom: 40px;
}
#footer section.wrapper div.main1 div.three h4.u a{
	font-weight: 900;
	font-size: 20px;
}
#footer section.wrapper div.main1 div.three h5.c a{
	
}
#footer section.wrapper div.main1 div.four{
	margin-bottom: 40px;
}
#footer section.wrapper div.main1 div.four h4.u a{
	font-weight: 900;
	font-size: 20px;
}
#footer section.wrapper div.main1 div.four h5.c a{

}
#footer section.wrapper div.main2{
	display: flex;
}
#footer section.wrapper div.main2 div.left{
	display: flex;
	margin-top: 80px;
}
#footer section.wrapper div.main2 div.left div.one{
	width: 37px;
	height: 37px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	margin-right: 10px;
}
#footer section.wrapper div.main2 div.left div.one img{

}
#footer section.wrapper div.main2 div.left div.two{
	width: 37px;
	height: 37px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	margin-right: 10px;
}
#footer section.wrapper div.main2 div.left div.two img{

}
#footer section.wrapper div.main2 div.left div.three{
	width: 37px;
	height: 37px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	margin-right: 10px;
}
#footer section.wrapper div.main2 div.left div.three img{
	height: 18px;
	width: 15px;
}
#footer section.wrapper div.main2 div.left div.four{
	width: 37px;
	height: 37px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	margin-right: 10px;
}
#footer section.wrapper div.main2 div.left div.four img{

}
#footer section.wrapper div.main2 div.right{
	margin-left: 600px;
} 
#footer section.wrapper div.main2 div.right h3{
	color: white;
	font-weight: 700;
} 
#footer section.wrapper div.main2 div.right div.os{
	margin-top: 50px;
	display: flex;
} 
#footer section.wrapper div.main2 div.right div.os div.play{
	display: flex;
	margin-right: 40px;
} 
#footer section.wrapper div.main2 div.right div.os div.play img{
	
} 
#footer section.wrapper div.main2 div.right div.os div.play h6{
	color: white;
} 
#footer section.wrapper div.main2 div.right div.os div.ios{
	display: flex;
} 
#footer section.wrapper div.main2 div.right div.os div.ios img{
	
} 
#footer section.wrapper div.main2 div.right div.os div.ios h6{
	color: white;
} 
#footer section.wrapper div.main3{
	padding-bottom: 100px;
	margin-top: 100px; 
	display: flex;
}
#footer section.wrapper div.main3 h1{
	border-top: 1px solid #6a6f6f;
    border-bottom: 1px solid #6a6f6f;
    width: 100%;
    padding: 30px 24px;
    font-weight: 700;
    color: white;
}
#footer section.wrapper div.main3 h1 img{
	
}
#footer section.wrapper div.main4{
	display: flex;
	justify-content: center;
} 
#footer section.wrapper div.main4 h4{
	color: white;
	margin-top: -50px;
}

@media (max-width: 350px) { 
	#header section.wrapper div.right{
		display: none;
	}
}
@media (max-width: 780px) {
  #main section.name,
  #main section.name .fat,
  #main section.name .img {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  #main section.name .img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
  }
}
@media (max-width: 780px) {
	h1 {
  		font-size: 32px;
  		line-height: 1.2;
	}
	h2 {
  font-size: 22px;
	}

	h3 {
	  font-size: 16px;
	}
}
@media (max-width: 780px){
	.wrapper{
  		max-width: 100%;
	}
	#main{

	}
	#main section.name div.fat {
		background-image: url(assets/bg-1.jpg);
		width:302%;
		height:1000px;
		display: flex;
		align-items: center;
		padding-left: 150px;
		background-position:30% top;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#main section.name  div.fat div.hero-content{
		
	}
	#main section.name  div.fat div.hero-content h3.on{
		margin-top:10px;
		font-size: 30px;
		font-weight: 500;
		color: white;
	}
	#main section.name  div.fat div.hero-content h1{
		margin-top: 10px;
		font-size: 70px;
		font-weight: 900;
		color: white;
	}
	#main section.name  div.fat div.hero-content h3.tw{
		margin-top: 20px;
		font-size: 30px;
		font-weight: 500;
		color: white;
	}
	#main section.name  div.fat div.hero-content img.ar1{
		margin-left: -100px;
		margin-top: -100px;
		margin-right: 1300px;
	}
	#main section.name  div.fat div.hero-content button{
		margin-top: 50px;
		width:190px;
		height: 50px;
		background-color: white;
		border-radius: 5px;
	}
	#main section.name  div.fat div.hero-content button a{
		font-size: 20px;
		font-weight: 500px;
	}
	#cards1{
		height: 120vh;
	}
	#cards1 section.main {
    	width: 100%;
    	max-width: 1200px;
  		margin: auto;
  		display: block;
  		height: auto;
	}
	#cards1 section.main div.one{
	background-image: url(assets/bg-2.jpg);
	margin-left:100px;
	margin-top: 100px;
	height: 430px;
	width: 600px;
	background-size:1000px;
	border-radius: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
	margin-left: 300px;
	}
	#cards1 section.main div.one section.wrapper {
		width: 900;
    	max-width: 1200px;
  		margin: auto;
  		padding-top: 50px;
  		margin-left: 80px;
	}
	#cards1 section.main div.one section.wrapper h2.a{
		margin-top: 50px;
		font-weight: 600;
		color: white;

	}
	#cards1 section.main div.one section.wrapper h1.b{
		margin-top: 30px;
		font-weight: 900;
		color: white;

	}
	#cards1 section.main div.one section.wrapper h2.c{
		margin-top: 20px;
		font-weight: 500;
		color: white;

	}
	#cards1 section.main div.one section.wrapper h2.d {
		margin-top: 50px;
		color: white;

	}
	#cards1 section.main div.one section.wrapper h2.d u{
		font-weight: 500;
	}
	#cards1 section.main div.two{
		background-image: url(assets/bg-3.jpg);
		margin-top: 100px;
		height: 357px;
		width: 600px;
		background-size:900px;
		border-radius: 10px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
		transform: rotateY(180deg);
		background-position:  -300px top;
		margin-left: 300px;
	}
	#cards1 section.main div.two h2{
		transform: rotateY(180deg);
	}
	#cards1 section.main div.two section.wrapper{
		padding-top: 20px;
		margin-left: -30px;
  		
	}
	#cards1 section.main div.two  h2.a{
		margin-top: 50px;
		font-weight: 600;
		margin-left: 160px;
		color: white;
	}
	#cards1 section.main div.two  h1.b{
		margin-top: 30px;
		font-weight: 900;
		margin-left: 160px;
		color: white;
		transform: rotateY(180deg);
	}
	#cards1 section.main div.two  h2.c{
		margin-top: 20px;
		font-weight: 500;
		margin-left: 160px;
		color: white;
	}
	#cards1 section.main div.two  h2.d {
		margin-top: 50px;
		margin-left: 160px;
		color: white;
	}
	#cards1 section.main div.two  h2.d u{
		font-weight: 500;
	}
	#men{
		width: 250%;
	}
	#men section.wrapper{
		margin-left: 150px;
	}
	#men section.wrapper div.one{
		display: flex;
		margin-bottom: 100px;
	}
	#men section.wrapper div.one div.rect{
		width: 6px;
		height:30px;
		border-radius:10px;
		background-color:#8A33FD;
		margin-right: 20px;
	}
	#men section.wrapper div.one div.text{
		
	}
	#men section.wrapper div.one div.text h1{
		font-weight: 700;
	}
	#men section.wrapper div.main{
		display: flex;
		flex-wrap: wrap;
	}
	#men section.wrapper div.main div.box1{
		margin-right: 30px;
		margin-top: 30px;

	}
	#men section.wrapper div.main div.box1 img.img{
		
	}
	#men section.wrapper div.main div.box1 h4{
		
	}
	#men section.wrapper div.main div.box1 a{
		
	}
	#men section.wrapper div.main div.box1 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box2{
		margin-right: 30px;
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box2 img.img{
		
	}
	#men section.wrapper div.main div.box2 h4{
		
	}
	#men section.wrapper div.main div.box2 a{
		
	}
	#men section.wrapper div.main div.box2 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box3{
		margin-right: 30px;
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box3 img.img{
		
	}
	#men section.wrapper div.main div.box3 h4{
		
	}
	#men section.wrapper div.main div.box3 a{
		
	}
	#men section.wrapper div.main div.box3 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box4{
		margin-top: 30px;
		margin-right:40px;
	}
	#men section.wrapper div.main div.box4 img.img{
		
	}
	#men section.wrapper div.main div.box4 h4{
		
	}
	#men section.wrapper div.main div.box4 a{
		
	}
	#men section.wrapper div.main div.box4 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box5{
		margin-right: 30px;
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box5 img.img{
		
	}
	#men section.wrapper div.main div.box5 h4{
		
	}
	#men section.wrapper div.main div.box5 a{
		
	}
	#men section.wrapper div.main div.box5 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box6{
		margin-right: 30px;
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box6 img.img{
		
	}
	#men section.wrapper div.main div.box6 h4{
		
	}
	#men section.wrapper div.main div.box6 a{
		
	}
	#men section.wrapper div.main div.box6 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box7{
		margin-right: 30px;
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box7 img.img{
		height: 393px;
		width:273px;
	}
	#men section.wrapper div.main div.box7 h4{
		
	}
	#men section.wrapper div.main div.box7 a{
		
	}
	#men section.wrapper div.main div.box7 a img.ar1{
		margin-left: 240px;
	}
	#men section.wrapper div.main div.box8{
		margin-top: 30px;
	}
	#men section.wrapper div.main div.box8 img.img{
		
	}
	#men section.wrapper div.main div.box8 h4{
		
	}
	#men section.wrapper div.main div.box8 a{
		
	}
	#men section.wrapper div.main div.box8 a img.ar1{
		margin-left: 240px;
	}
	#Women{
		margin-top: 100px;
		width: 250%;
	}
	#Women section.wrapper{
		margin-left: 200px;
	}
	#Women section.wrapper div.one{
		display: flex;
		margin-bottom: 100px;
	}
	#Women section.wrapper div.one div.rect{
		width: 6px;
		height:30px;
		border-radius:10px;
		background-color:#8A33FD;
		margin-right: 20px;
	}
	#Women section.wrapper div.one div.text{
		
	}
	#Women section.wrapper div.one div.text h1{
		font-weight: 700;
	}
	#Women section.wrapper div.main{
		display: flex;
		flex-wrap: wrap;
	}
	#Women section.wrapper div.main div.box1{
		margin-right: 30px;
		margin-top: 30px;
	}
	#Women section.wrapper div.main div.box1 img.img{
		
	}
	#Women section.wrapper div.main div.box1 h4{
		
	}
	#Women section.wrapper div.main div.box1 a{
		
	}
	#Women section.wrapper div.main div.box1 a img.ar1{
		margin-left: 240px;
	}
	#Women section.wrapper div.main div.box2{
		margin-right: 30px;
		margin-top: 30px;
	}
	#Women section.wrapper div.main div.box2 img.img{
		
	}
	#Women section.wrapper div.main div.box2 h4{
		
	}
	#Women section.wrapper div.main div.box2 a{
		
	}
	#Women section.wrapper div.main div.box2 a img.ar1{
		margin-left: 240px;
	}
	#Women section.wrapper div.main div.box3{
		margin-right: 30px;
		margin-top: 30px;
	}
	#Women section.wrapper div.main div.box3 img.img{
		
	}
	#Women section.wrapper div.main div.box3 h4{
		
	}
	#Women section.wrapper div.main div.box3 a{
		
	}
	#Women section.wrapper div.main div.box3 a img.ar1{
		margin-left: 240px;
	}
	#Women section.wrapper div.main div.box4{
		margin-top: 30px;
		margin-left: 300px;
	}
	#Women section.wrapper div.main div.box4 img.img{
		
	}
	#Women section.wrapper div.main div.box4 h4{
		
	}
	#Women section.wrapper div.main div.box4 a{
		
	}
	#card{
		margin-bottom: 100px;
		width: 250%;
	}
	#card section.wrapper{
		
	}
	#card section.wrapper div.one{
		display: flex;
		margin-bottom: 100px;
	}
	#card section.wrapper div.one div.rect{
		width: 6px;
		height:30px;
		border-radius:10px;
		background-color:#8A33FD;
		margin-right: 20px;
	}
	#card section.wrapper div.one div.text{
		
	}
	#card section.wrapper div.one div.text h1{
		font-weight: 700;
	}
	#card section.wrapper div.main{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	#card section.wrapper div.main div{
		
	}
	#card section.wrapper div.main div.card1{
		position: relative;
		margin-right: 20px;
		margin-left: 150px;
	}
	#card section.wrapper div.main div.card1 img.on{
		position: relative;
	}
	#card section.wrapper div.main div.card1 div.logo{
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background-color: white;
		margin-left: 230px;
		margin-top:-340px;
		position: absolute;
		z-index: 2;
		display: flex;
	    justify-content: center;
	    align-items: center; 
	}
	#card section.wrapper div.main div.card1 div.logo img{
		position: absolute;
		z-index: 3;
	}
	#card section.wrapper div.main div.card1 div.lar{
		display: flex;
	}
	#card section.wrapper div.main div.card1 div.lar div.text{
		
	}
	#card section.wrapper div.main div.card1 div.lar div.text h4.one{
		font-size: 16px;
		font-weight: 600;
		margin-top: 30px;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card1 div.lar div.text h5.two{
		color: #807D7E;
		font-weight: 500;
		font-size: 14px;
	}
	#card section.wrapper div.main div.card1 div.lar div.btn button{
		width: 82px;
		height: 36px;
		background-color: #F6F6F6;
		border-radius: 5px;
		align-items: center;
		margin-top: 22px;
		margin-left: 10px;
	}
	#card section.wrapper div.main div.card1 div.lar div.btn button a{
		font-weight: 700;
		color: #3C4242;
	}

	#card section.wrapper div.main div.card2{
		position: relative;
		margin-right: 23px;
	}
	#card section.wrapper div.main div.card2 img.on{
		position: relative;
	}
	#card section.wrapper div.main div.card2 div.logo{
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background-color: white;
		margin-left: 230px;
		margin-top:-340px;
		position: absolute;
		z-index: 2;
		display: flex;
	    justify-content: center;
	    align-items: center; 
	}
	#card section.wrapper div.main div.card2 div.logo img{
		position: absolute;
		z-index: 3;
	}
	#card section.wrapper div.main div.card2 div.lar{
		display: flex;
	}
	#card section.wrapper div.main div.card2 div.lar div.text{
		
	}
	#card section.wrapper div.main div.card2 div.lar div.text h4.one{
		font-size: 16px;
		font-weight: 600;
		margin-top: 30px;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card2 div.lar div.text h5.two{
		color: #807D7E;
		font-weight: 500;
		font-size: 14px;
	}
	#card section.wrapper div.main div.card2 div.lar div.btn button{
		width: 82px;
		height: 36px;
		background-color: #F6F6F6;
		border-radius: 5px;
		align-items: center;
		margin-top: 22px;
		margin-left: 10px;
	}
	#card section.wrapper div.main div.card2 div.lar div.btn button a{
		font-weight: 700;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card3{
		position: relative;
		margin-right: 100px;
	}
	#card section.wrapper div.main div.card3 img.on{
		position: relative;
	}
	#card section.wrapper div.main div.card3 div.logo{
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background-color: white;
		margin-left: 230px;
		margin-top:-340px;
		position: absolute;
		z-index: 2;
		display: flex;
	    justify-content: center;
	    align-items: center; 
	}
	#card section.wrapper div.main div.card3 div.logo img{
		position: absolute;
		z-index: 3;
	}
	#card section.wrapper div.main div.card3 div.lar{
		display: flex;
	}
	#card section.wrapper div.main div.card3 div.lar div.text{
		
	}
	#card section.wrapper div.main div.card3 div.lar div.text h4.one{
		font-size: 16px;
		font-weight: 600;
		margin-top: 30px;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card3 div.lar div.text h5.two{
		color: #807D7E;
		font-weight: 500;
		font-size: 14px;
	}
	#card section.wrapper div.main div.card3 div.lar div.btn button{
		width: 82px;
		height: 36px;
		background-color: #F6F6F6;
		border-radius: 5px;
		align-items: center;
		margin-top: 22px;
		margin-left: 100px;
	}
	#card section.wrapper div.main div.card3 div.lar div.btn button a{
		font-weight: 700;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card4{
		position: relative;
		margin-top: 60px;
	}
	#card section.wrapper div.main div.card4 img.on{
		position: relative;
	}
	#card section.wrapper div.main div.card4 div.logo{
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background-color: white;
		margin-left: 230px;
		margin-top:-340px;
		position: absolute;
		z-index: 2;
		display: flex;
	    justify-content: center;
	    align-items: center; 
	}
	#card section.wrapper div.main div.card4 div.logo img{
		position: absolute;
		z-index: 3;
	}
	#card section.wrapper div.main div.card4 div.lar{
		display: flex;
	}
	#card section.wrapper div.main div.card4 div.lar div.text{
		
	}
	#card section.wrapper div.main div.card4 div.lar div.text h4.one{
		font-size: 16px;
		font-weight: 600;
		margin-top: 30px;
		color: #3C4242;
	}
	#card section.wrapper div.main div.card4 div.lar div.text h5.two{
		color: #807D7E;
		font-weight: 500;
		font-size: 14px;
	}
	#card section.wrapper div.main div.card4 div.lar div.btn button{
		width: 82px;
		height: 36px;
		background-color: #F6F6F6;
		border-radius: 5px;
		align-items: center;
		margin-top: 22px;
		margin-left: 10px;
	}
	#card section.wrapper div.main div.card4 div.lar div.btn button a{
		font-weight: 700;
		color: #3C4242;
	}
	#feed{
		margin-top: 30px;
		margin-bottom: 100px;
		width: 250%;
	}
	#feed section.wrapper{
		
	}
	#feed section.wrapper div.one{
		display: flex;
		margin-bottom: 100px;
	}
	#feed section.wrapper div.one div.rect{
		width: 6px;
		height:30px;
		border-radius:10px;
		background-color:#8A33FD;
		margin-right: 20px;
	}
	#feed section.wrapper div.one div.text{
		
	}
	#feed section.wrapper div.one div.text h1{
		font-weight: 700;
	}
	#feed section.wrapper div.main{
		display: flex;
	}
	#feed section.wrapper div.main div.box1{
		width: 397px;
		height: 500px;
		border: 2px solid;
		border-color: #807D7E;
		border-radius: 10px;
		margin-right: 20px;
		margin-left:100px;
	}
	#feed section.wrapper div.main div.box1 div.content{
		margin-left: 30px;
		margin-top: -10px;
	}
	#feed section.wrapper div.main div.box1 div.content img.pic{
		margin-top: 35px;
	}
	#feed section.wrapper div.main div.box1 div.content h2{ 
		margin-top: 30px;
		color: #3C4242;
		font-weight: bolder;
	}
	#feed section.wrapper div.main div.box1 div.content p{
		font-size: 14px;
		margin-top: 30px;
		color: #807D7E;
	}
	#feed section.wrapper div.main div.box1 div.star{
		margin-top: -400px;
		margin-left: 230px;
	}
	#feed section.wrapper div.main div.box1 div.star img{
		
	}
	#feed section.wrapper div.main div.box2{
		width: 397px;
		height: 500px;;
		border: 2px solid;
		border-color: #807D7E;
		border-radius: 10px;
		margin-right: 20px;
	}
	#feed section.wrapper div.main div.box2 div.content{
		margin-left: 30px;
		margin-top: -10px;
	}
	#feed section.wrapper div.main div.box2 div.content img.pic{
		margin-top: 35px;
	}
	#feed section.wrapper div.main div.box2 div.content h2{ 
		margin-top: 30px;
		color: #3C4242;
		font-weight: bolder;
	}
	#feed section.wrapper div.main div.box2 div.content p{
		font-size: 14px;
		margin-top: 30px;
		color: #807D7E;
	}
	#feed section.wrapper div.main div.box2 div.star{
		margin-top: -200px;
		margin-left: 230px;
	}
	#feed section.wrapper div.main div.box2 div.star img{
		
	}
	#feed section.wrapper div.main div.box3	{
		width: 397px;
		height: 500px;
		border: 2px solid;
		border-color: #807D7E;
		border-radius: 10px;
		margin-right: 15px;
	}
	#feed section.wrapper div.main div.box3	 div.content{
		margin-left: 30px;
		margin-top: -10px;
	}
	#feed section.wrapper div.main div.box3	 div.content img.pic{
		margin-top: 35px;
	}
	#feed section.wrapper div.main div.box3	 div.content h2{ 
		margin-top: 30px;
		color: #3C4242;
		font-weight: bolder;
	}
	#feed section.wrapper div.main div.box3	 div.content p{
		font-size: 14px;
		margin-top: 30px;
		color: #807D7E;
	}
	#feed section.wrapper div.main div.box3	 div.star{
		margin-top: -400px;
		margin-left: 230px;
	}
	#feed section.wrapper div.main div.box3	 div.star img{
		
	}
	#footer{
		background-color: #3C4242;
		width: 302%;
	}
	#footer section.wrapper{
		
	}
	#footer section.wrapper div.main1{
		display: flex;
		justify-content: space-evenly;
		padding-top: 100px;
	}
	#footer section.wrapper div.main1 h4{
		margin-bottom: 30px;
	}
	#footer section.wrapper div.main1 h4 a{
		color: white;
	} 
	#footer section.wrapper div.main1 h5 a{
		color: white;
	}
	#footer section.wrapper div.main1 h5 {
		margin-bottom: 30px;
	}
	#footer section.wrapper div.main1 div.one{
		
	}
	#footer section.wrapper div.main1 div.one h4.u{
		margin-bottom: 40px;
	}
	#footer section.wrapper div.main1 div.one h4.u a{
		font-weight: 900;
		font-size: 20px;

	}
	#footer section.wrapper div.main1 div.one h5.c a{

	}
	#footer section.wrapper div.main1 div.two{
		margin-bottom: 40px;
	}
	#footer section.wrapper div.main1 div.two h4.u a{
		font-weight: 900;
		font-size: 20px;
	}
	#footer section.wrapper div.main1 div.two h5.c a{

	}
	#footer section.wrapper div.main1 div.three{
		margin-bottom: 40px;
	}
	#footer section.wrapper div.main1 div.three h4.u a{
		font-weight: 900;
		font-size: 20px;
	}
	#footer section.wrapper div.main1 div.three h5.c a{
		
	}
	#footer section.wrapper div.main1 div.four{
		margin-bottom: 40px;
	}
	#footer section.wrapper div.main1 div.four h4.u a{
		font-weight: 900;
		font-size: 20px;
	}
	#footer section.wrapper div.main1 div.four h5.c a{

	}
	#footer section.wrapper div.main2{
		display: flex;
	}
	#footer section.wrapper div.main2 div.left{
		display: flex;
		margin-top: 80px;
	}
	#footer section.wrapper div.main2 div.left div.one{
		width: 37px;
		height: 37px;
		display:flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: white;
		margin-right: 10px;
	}
	#footer section.wrapper div.main2 div.left div.one img{

	}
	#footer section.wrapper div.main2 div.left div.two{
		width: 37px;
		height: 37px;
		display:flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: white;
		margin-right: 10px;
	}
	#footer section.wrapper div.main2 div.left div.two img{

	}
	#footer section.wrapper div.main2 div.left div.three{
		width: 37px;
		height: 37px;
		display:flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: white;
		margin-right: 10px;
	}
	#footer section.wrapper div.main2 div.left div.three img{
		height: 18px;
		width: 15px;
	}
	#footer section.wrapper div.main2 div.left div.four{
		width: 37px;
		height: 37px;
		display:flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background-color: white;
		margin-right: 10px;
	}
	#footer section.wrapper div.main2 div.left div.four img{

	}
	#footer section.wrapper div.main2 div.right{
		margin-left: 600px;
	} 
	#footer section.wrapper div.main2 div.right h3{
		color: white;
		font-weight: 700;
	} 
	#footer section.wrapper div.main2 div.right div.os{
		margin-top: 50px;
		display: flex;
	} 
	#footer section.wrapper div.main2 div.right div.os div.play{
		display: flex;
		margin-right: 40px;
	} 
	#footer section.wrapper div.main2 div.right div.os div.play img{
		
	} 
	#footer section.wrapper div.main2 div.right div.os div.play h6{
		color: white;
	} 
	#footer section.wrapper div.main2 div.right div.os div.ios{
		display: flex;
	} 
	#footer section.wrapper div.main2 div.right div.os div.ios img{
		
	} 
	#footer section.wrapper div.main2 div.right div.os div.ios h6{
		color: white;
	} 
	#footer section.wrapper div.main3{
		padding-bottom: 100px;
		margin-top: 100px; 
		display: flex;
	}
	#footer section.wrapper div.main3 h1{
		border-top: 1px solid #6a6f6f;
	    border-bottom: 1px solid #6a6f6f;
	    width: 100%;
	    padding: 30px 24px;
	    font-weight: 700;
	    color: white;
	}
	#footer section.wrapper div.main3 h1 img{
		
	}
	#footer section.wrapper div.main4{
		display: flex;
		justify-content: center;
	} 
	#footer section.wrapper div.main4 h4{
		color: white;
		margin-top: -50px;
	}
}
